* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.sign-in {
    height: 400px;
    width: 512px;
    margin: auto;
    border: 1px solid #ccc;
    margin-top: 80px;
    border-radius: 12px;
    padding: 65px 32px 44px;
}

.sign-in__header {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 44px;
    text-transform: uppercase;
}

h1 {
    font-size: inherit;
}

.sign-in__form--group {
    margin-bottom: 40px;
}

h3 {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 8px;
}

.sign-in__form--input {
    width: 100%;
    padding: 14px 12px;
    border: 1px solid #e5e7eb;
    border-radius: 6px;
    transition: 0.3s;
}

.sign-in__form--input::placeholder {
    color: #c2c3c4;
}

.sign-in__form--input:hover {
    border-color: black;
}

.sign-in__form--input:focus {
    box-shadow: 0 0 0 2px rgba(3, 7, 12, 0.65);
    outline: none;
}

.sign-in__control {
    margin: 28px 0;
}

.sign-in__control--button {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    background-color: #131720;
    color: white;
    transition: 0.3s;
    cursor: pointer;
}

.sign-in__control--button:hover {
    background-color: #22262e;
}

.sign-in__control--button:focus {
    box-shadow: 0 0 2px 0 rgba(3, 7, 12, 0.65);

}

.sign-in__back {
    display: flex;
    justify-content: center;
}

.sign-in__back--link {
    text-decoration: none;
    color: #1677ff;
    font-size: 14px;
    align-items: center;
    transition: 0.3s;
}

.sign-in__back--link:hover {
    text-decoration: underline;
    color: #69b1ff;
}